@media screen and (max-width: 810px) {
    /*Header*/
    
.headerLogo{
    height: auto;
    padding: 0.2rem;
}

.headerLogo figure.logo img{
    width: 2.5rem;
    margin: 0.5rem;
}

.headerLogo  .main__title{
    font-size: 30px;
    margin: 0.5rem 0rem;
}

/*Main*/
/*Order Section*/
.bar{
    order: 1;
}
.anchors{
    order: 2;
}
.content{
    order:3;
}

/*Section - Container*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.5rem;
}
/*Section bar*/
.container .bar,
.container .anchors{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px dotted #38134f;
}

.bar .sidebar,
.anchors .anchors__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bar .sidebar h2,
.anchors .anchors__nav h2{
    padding: 0.2rem;
    margin: 0.5rem 0;
    font-size: 24px;
}

.bar .sidebar ul,
.anchors .anchors__nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 99%;
}

.bar .sidebar ul li,
.anchors .anchors__nav ul li{
    list-style: none;
    margin-bottom: 0.5rem;
    /* margin-right: 1rem; */
    padding: 0.2rem 1rem;
    border-right: 4px double #b87edc;
} 

.bar .sidebar ul li a 
.anchors .anchors__nav ul li a{
    font-size: 16px;    
}


/*Section - Content*/
.container .content{
    width: 99%;
    height: auto;
    padding: 0.5rem;
}

.content .title{
    margin: 0.2rem 0.5rem;
    font-size: 26px;
}


.content p{
    margin: 0.5rem;
    font-size: 16px;
}

.content h3{
    margin:0.5rem;
    font-size: 24px;
}

.image__anime figcaption{
    font-size: 12px;
}
#voltar__top {
    padding: 5px;
    width: 70%;
}

#voltar__top a {
    font-size: 18px;
}

/*Footer*/
footer p{
    font-size:12px;
}
    
}
